@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(-45deg, #f8ac08 , #a6d2fd);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

}
main{
    background-color:whitesmoke;
    height: 510px;
    width: 410px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 5px #808080;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.title{
    font-size: 2rem;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(48, 45, 44);
}
.text-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.text-title {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(44, 44, 44);
}




