/* #countLabel{
    display: block;
    text-align: center;
    font-size: 50px;
    color: brown;
}
#dcButton{
    display: block;
    text-align: center;
    font-size: 25px;
    color: brown; 
}
#rstButton{
display: block;
    text-align: center;
    font-size: 25px;
    color: brown;
    
}
#inButton{
    display: block;
    text-align: center;
    font-size: 25px;
    color: brown;
} */